extends layout.pug

block content
  .main
    h1 #{title}
    p #{body}
    if admin
      include partials/admin.pug
    if edit
      include partials/edit.pug

block footer
  script(src="/js/script.js")
