if user
  .chat-container
    header
      h4 Chat
    .chat-body
      .message-list
      hr
      form(method="POST" id="chat-input" autocomplete="off")
        .form-group
          input#user(type="text" name="user" hidden value=`${user.first_name}`)
          input#message.form-input(type="text" name="chat" autocomplete="off")
        .form-group
          input(type="submit" value="Send").btn.btn-sm.chat-button
