.message-list
  each comment in post.comments
    .comment-bubble
      .comment-header
        span #{comment.user}
      .comment-body
        p= comment.comment
if user
  h6 Add your comment
  .columns
    .column.col-8.col-md-12
      form#comment-form
        .form-group
          input#user(type="text" name="user" hidden value=`${user.first_name}`)
          input#post-id(type="text" name="postId" hidden value=`${post._id}`)
          textarea#message.form-input.comment(type="text" name="comment" autocomplete="off" rows="5")
        .form-group
          input.btn.btn-primary.btn-sm(type="submit" value="Add Comment")
      append scripts
        script(src="/js/sockets.js")
else
  h6 You need to be signed in to Comment
  a.btn(href="/login") Login
