if feature && feature.image
  .feature(style="background-image: url(" + feature.image + ")")
    .container.grid-960
      .feature-text
        img(src="/logo.svg" alt="Spectre Site")
        h1 #{title}
