footer
  .container.grid-1280
    .columns
      .column.col-sm-12
        h4 About Us..
        hr
        p Some Text
        p Some Text
        p Some Text
      .column.col-sm-12
        h4 Contact Us..
        hr
        p Some Text
        p Some Text
        p Some Text

      .column.col-sm-12
        h4 Find Us..
        hr
        p Some Text
        p Some Text
        p Some Text
  .copy
    .container.grid-1280
      p FNBG &copy; 2017
