block highlights
  .highlights.text-center
    .container.grid-1280
      .columns
        .column.col-4.col-sm-12.animate
          h4 Column 1
          .highlight-icon
            i.fa.fa-telegram
          .text-content
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmodincididunt labore et dolore magna aliqua. Ut enim ad minim
              veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodoDuis aute irure
        .column.col-4.col-sm-12.animate
          h4 Column 2
          .highlight-icon
            i.fa.fa-grav
          .text-content
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmodincididunt labore et dolore magna aliqua. Ut enim ad minim
              veniam,nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodoDuis aute irure
        .column.col-4.col-sm-12.animate
          h4 Column 1
          .highlight-icon
            i.fa.fa-handshake-o
          .text-content
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmodincididunt labore et dolore magna aliqua. Ut enim ad minim
              veniam,nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodoDuis aute irure
