.admin
  .columns
    .login.column.col-6.centered
      h2 Login
      if message
        .toast.toast-warning= message
          .btn.btn-clear.float-right.clear-button
      if user
        h3= user
      form.form-horizontal(action="/admin" method="POST")
        .form-group
          .col-3
            label.form-label(for="email") Email:
          .col-9
            input.form-input#email(type="email" name="email" placeholder="Email")
        .form-group
          .col-3
            label.form-label(for="password") Password:
          .col-9
            input.form-input#password(type="password" name="password" placeholder="Password")
        .form-group
          .col-12
            input.btn.btn-primary.float-right(type="submit" value="Login")
      h4 Need to Register?
      a.btn.btn-link(href="/register") Register
