.admin
  .columns
    .login.column.col-8.col-sm-12.centered
      h2 Login
      form.form-horizontal(action="/admin" method="POST")
        .form-group
          .col-3
            label.form-label(for="email") Email:
          .col-9
            input.form-input#email(type="email" name="email" placeholder="Email")
        .form-group
          .col-3
            label.form-label(for="password") Password:
          .col-9
            input.form-input#password(type="password" name="password" placeholder="Password")
        .form-group
          .col-12
            input.btn.btn-primary.float-right(type="submit" value="Login")
      .social-login.columns
        .column.col-12
          h4 Social Login
        .column.col-6.col-sm-12
          h6 Login With Google
          a.btn.btn-primary(href="/auth/google") Google
        .column.col-6.col-sm-12
          h6 Login With Facebook
          a.btn.btn-primary(href="/auth/facebook") Facebook
    .register.column.col-8.col-sm-12.centered
      h4 Need to Register?
      a.btn.btn-defult(href="/register") Register
