.admin
  .columns
    .login.column.col-6.col-sm-12.centered
      h2 Register
      if message
        .toast
          p= message
      form.form-horizontal(action="/register" method="POST")
        .form-group
          .col-3
            label.form-label(for="first_name") First Name:
          .col-9
            input.form-input#first_name(type="text" name="first_name" placeholder="First Name")
        .form-group
          .col-3
            label.form-label(for="last_name") Last Name:
          .col-9
            input.form-input#last_name(type="text" name="last_name" placeholder="Last Name")
        .form-group
          .col-3
            label.form-label(for="email") Email:
          .col-9
            input.form-input#email(type="email" name="email" placeholder="Email")
        .form-group
          .col-3
            label.form-label(for="password") Password:
          .col-9
            input.form-input#password(type="password" name="password" placeholder="Password")
        .form-group
          .col-12
            input.btn.btn-primary.float-right(type="submit" value="Register")
