footer
  .container.grid-960
    .columns
      .column.col-sm-12
        h4 About Us..
        p Some Text
        p Some Text
        p Some Text
      .column.col-sm-12
        h4 Contact Us..
        p Some Text
        p Some Text
        p Some Text

      .column.col-sm-12
        h4 Find Us..
        p Some Text
        p Some Text
        p Some Text
    .copy
      p FNBG &copy; 2017

script(src="/js/script.js")

    block footer
