body {
  font-size: 16px;
}
header {
  background-color: #34728f;
  color: #fff;
}
header.fixed-nav {
  padding-bottom: 49px;
}
header .brand {
  padding: 30px 0;
  text-align: center;
}
header .brand .logo {
  width:100px;
}
header .nav-bar {
  background-color: #90acb8;
  transition: background-color 0.2s;
}
header.fixed-nav .nav-bar {
  background-color: rgba(144, 172, 184, 0.8);
  box-shadow: 0 1px 2px #444;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .nav-bar .tab-item:focus,
a:focus {
  box-shadow: none;
  outline: none;
}
.main-container {

}
.feature {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 400px;
}
.feature .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.feature .feature-text {
  position: relative;
  background-color: rgba(0, 0, 0, 0.56);
  padding: 20px;
  color: #fff;
  text-align: center;
}
.feature .feature-text img {
  width: 50px;
}
.feature.post {
  height: 300px;
}
.feature.post .grayscale-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 78, 92, 0.9);
}
.feature.post .feature-text {
  position: relative;
  background-color: transparent;
}
.container.block-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.post.card h2 {
  font-size: 2rem;
}
.post .post-image {
  margin: 1rem -1rem;
}
.post .post-image img {
  width: 100%;
}
i.icon {
  cursor: pointer;
}
.card h2 {
  font-size: 2rem;
}
.card .card-image img {
  filter: grayscale(0.5);
  transition: filter 0.5s;
  width: 100%;
}
.card:hover .card-image img {
  filter: grayscale(0);
}

footer {
  background-color: #1d3c4b;
  color: #fff;
  padding: 30px 0;
}
footer .copy {
  text-align: center;
}

@media(min-width: 601px) {
  header .brand {
    /*text-align: left;*/
  }
  .feature {
    background-attachment: fixed;
  }
  .post .post-image {
    margin: 1rem auto;
  }
}
