extends layout.pug

block feature
  include partials/feature.pug

block content
  .main
    if !admin
      h1 #{title}
    p #{body}
    if login
      include partials/login.pug
    if register
      include partials/register.pug
    if dashboard
      include partials/dashboard.pug
    if edit
      include partials/edit.pug
    if add
      include partials/add.pug

block footer
  script(src="/js/script.js")
